
body {
  	margin: 0;
	background: white;
	font-family: 'Times new Roman'
	

}

h2{
	padding-left:20px;
	color:black;

}

header {
	background: #000080;
	height: 60px;
	padding-top: 10px;
	color:white;
	padding-left:500px;
}

p{

	padding-left:30px;
	color:black;
		}
h3{
	padding-left:20px;
}


li{
	padding-left:10px;
}